nav {
    gap: auto;
    background-color: white;
    font-size: 16px;
    align-items: center;
    height:fit-content;
}

.nav-middle {
    height:fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
    gap: 24px;
}

.nav-grid{
    display: grid;
    grid-template-columns: auto 2fr auto;
    gap: 24px;
    align-items: center;
    justify-items: center;
}

.brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
    color: #2E7D32;
}

.brand:link{
        text-decoration: none;
}

.brand:hover{
    text-decoration: none;
}

.brand:active{
    text-decoration: none;
}

.navButton {
    position: relative;
    height: fit-content;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    padding: 8px 16px;
    background-color: white;
}

.navButton:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  border-right: 1px solid black; 
}

.navButton:link {
    text-decoration: none;
}

.navButton:visited {
    text-decoration: none;
}

.navButton:hover {
    border-bottom: 1px black solid;
}

.navButton:active {
    opacity: 50%;
}

.verticalDevider{
    border-right: 1px solid black;
    height: auto;
}
